body {
    font-family: 'Courier New', Courier, monospace;
    font-size:12pt;
    width:75%;
	margin-top:5%;
 	background-color: #4a5899;

}
footer p{
    float:none;
    clear:both;
    background-color:#92374d; 
    color:white; 
    text-align:center;
}
header{
	background-color: #92374d;
	padding:10px;
	margin-top:0px;
}
aside{
	color:#c1b2ab;
	background-color:#8c5383;
	border:solid #4a5899 2px;
	padding:10px;
	position:absolute;
	top:50px;
}
section{
	background-color:white;
	border:10px green groove;
	width:200px;
	height:200px;
	float:left;
	margin:20px;
	padding:20px;
	text-align:center;
}

h1 {
    text-align:center; 
    font-size:2em;
    font-family:'Courier New', Courier, monospace;
    color:#c1b2ab;
    text-shadow:1px 1px black;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    color:#559cad;
    text-align:center;
    text-shadow:1px 1px black;
}
a:link {
    color:green; 
    text-decoration: underline; 
}
a:active {
    color:maroon; 
    text-decoration: underline;
}
a:visited {
    color:darkblue; 
    text-decoration: underline; 
}
a:hover {
    color: white; 
    background-color: green; 
    text-decoration: none; 
}